@import '../../variables';

.eating {
    width: 1392px;
    height: 402px;
    flex-shrink: 0;
    border-radius: 35px;
    
    background: var(--gradient-1, linear-gradient(315deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%));

    &__wrapper {
        margin-top: 96px;
        display: flex;
       justify-content: space-evenly;
    }

    &__card {
        width: 365px;
        height: 234px;
        &-img {
            width: 32px;
            margin-top: 88px;
        }
        
        &-text {
            
            width: 365px;
            height: 72px;
            margin-top: 24px;
            text-align: left;

            color: var(--Dark-Electric-Blue, #5E6E85);
            /* Body M */
            font-family: $inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
        }
       
        &-title {
            width: 152px;
            margin-top: 31px;
            color: var(--Gunmetal, #253347);
            /* Heading M */
            font-family: $inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -1.2px;
        }
        
        
    }
}


.eating__card:nth-child(3) .eating__card-title {
  width: 176px;
}

.eating__card:nth-child(2) .eating__card-title {
    width: 174px;
}
